header h1 {
  font-family: "Meiryo", sans-serif;
  font-weight: 900;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #fff; 
  text-decoration-color: #fff; 
  transition: color 0.3s, text-decoration-color 0.3s;
}

nav a:hover {
  color: #f75c54; 
  text-decoration-color: #f75c54; 
}


section {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
}

.work {
  margin-bottom: 20px;
}
